@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(51 65 85) transparent;
}

/* nicer selection */
::selection {
  background: rgba(16, 185, 129, 0.25);
}
